.news {
    background-color: $off-white;
    padding:$lg $md;

    h4 {
        color: $primary-color;
        font-weight: 600;
        margin: 0;
        text-align: center;
    }

    h4 + p {
        text-align: center;
        margin-top: $sm;
    }
    
    .news-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: $lg $sm;
        column-gap: $lg;
        row-gap: $lg;

        article {
            div:first-child {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    border-radius: 5px;
                    margin: 0 auto;
                    max-width: 70%;
                }
            }

            div:last-child {
                a {
                    color: $primary-color;
                    font-weight: 600;
                    font-size: $sm;
                    text-align: center;
                }

                .title {
                    color: $primary-color !important;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: $sm;
                    margin-top: $md;
                    transition: $transition;

                    overflow: hidden;
                    text-transform: capitalize;
                    text-align: center;
                }

                h5:hover {
                    text-decoration: underline;
                }

                p:nth-child(2) {
                    margin-bottom: $sm-font;
                }

                p:nth-child(2) span {
                    color: darken($tertiary-color, 5%);
                }
                
                a:last-child {
                    color: $link-color;
                    font-weight: 200;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: $sm-breakpoint) {
    .news {
        padding:$md $sm;
    }

    .news h4 {
        font-size: $md-font;
    }

    .news .news-container {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        padding-top: $sm;
    }

    .news article {
        border: 1px solid darken($off-white, 10%);
        border-radius: 3px;
        margin-bottom: $xlg-font;
        padding: $sm-font;
    }

    .news article:last-child {
        margin-bottom: 0;
    }

    .news article div:last-child h5 {
        font-size: $md-font;
        text-align: center;
        
    }
}